/attrition.png
/chapter8practice.ipynb
/Checkpoint2
/Checkpoint_DataFrames_intermediate.ipynb
/Checkpoint_DT.ipynb
/Checkpoint_Forecasting.ipynb
/Checkpoint_MLR.ipynb
/Checkpoint_Reading_Writing.ipynb
/Checkpoint_Text_Analytics.ipynb
/Checkpoint_Web_scraping.ipynb
/Classification.ipynb
/clustering.ipynb
/Dataframe-Intro.ipynb
/DataFrame_Checkpoint.ipynb
/day_3.ipynb
/day_4_webscraping.ipynb
/day_5_beautifulsoup.ipynb
/day_7_pythonAPI.ipynb
/example.html
/example_2.html
/forecasting_models.ipynb
/interview-2.html
/interview.html
/is414lab.ipynb
/MidtermReview.ipynb
/Modeling_Midterm.ipynb
/multigroup_attrition.png
/Project1 copy.ipynb
/Project1.ipynb
/SQLiExamples.py
/stats_day1.ipynb
/stats_day2.ipynb
/stats_day3_forcasting.ipynb
/Text_analytics.ipynb
/venv
/WebSecurity.db